.two_column {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    grid-gap: 20px;
    width: 100%;
}

.left_side {
    background-color: #f1f1f1;
    padding: 20px;
}

.right_side {
    background-color: #e1e1e1;
    padding: 20px;
}
